lightning
matplotlib
tensorboard
einops
line_profiler
opencv-python
datasets
pillow >= 9.4.0
torch
torchvision >= 0.18.0
gdown
numpy < 2
h5py
scikit-image
segmentation-models-pytorch
positional-encodings[pytorch]
wandb